/* Re-skinning Grp - By MmohammedCha
   v1.0 | 2019
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Re-skinning Reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------- 

Re-skinning Primary style

-------------------------------- */

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "PT Sans", sans-serif;
	color: #f8f7ee;
	background-color: #4267b2;
	background-image: url('../bg.png');
}
h1{
	font-size: 1.5em;
	font-weight: 800;
	letter-spacing: 2px;
	font-family: "PT Sans", sans-serif;
	color: #4267b2;
}
h2{
	font-size: 1.1em;
	font-weight: 800;
	letter-spacing: 2px;
	font-family: "PT Sans", sans-serif;
	color: #4267b2;
}

h3{
	font-size: 1.1em;
	font-weight: 800;
	letter-spacing: 2px;
	font-family: "PT Sans", sans-serif;
	color: #4267b2;
}

a {
	color: #4267b2;
	text-decoration: none;
}
img, embed, object, video, svg {
	max-width: 100%;
}
input, textarea {
	font-family: inherit;
	font-size: 1.6rem;
}



/* -------------------------------- 

Re-skinning Grids - IMG - TITLE - DESC

-------------------------------- */

#logo {
	text-align:center;
}
#logo img {
	max-height: 100px;
}
.wrapper {
	display: grid;
	grid-template-columns: 49% 49%;
	grid-gap: 10px;
	background-color: #fff;
	color: #444;
	margin-top:1em;
   margin-bottom:1em;
   border-radius: 4px;
}
.box {
	padding: 20px;
	font-size: 150%;
}
.img {
	background-color: #fff;
	color: #37474f;
	border-radius: 5px;
	border-radius: 4px;
}
.img img {
	border-radius: 4px;
}
.details {
	padding: 20px;
	background-color: #f1f1f1;
	color: #37474f;
	border-radius: 4px;
}
.ads {
	padding: 20px;
	background-color: #ffffff;
	border-radius: 4px;
} 
.details h1{
	font-size: 150%;
}


/* 768 to ++ */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.wrapper {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 10px;
		background-color: #fff;
		color: #444;
		margin-top:1em;
		margin-bottom:1em;
	}

	.box {
		padding: 20px;
		font-size: 150%;
	}
}

/* 481 to 868 */
@media (min-width: 481px) and (max-width: 868px) {
	.wrapper {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 10px;
		background-color: #fff;
		color: #444;
		margin-top:1em;
		margin-bottom:1em;
	}
	.box {
		padding: 20px;
		font-size: 150%;
	}
}

/* 320 to 480*/
@media (min-width: 320px) and (max-width: 480px) {
	.wrapper {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 10px;
		background-color: #fff;
		color: #444;
		margin-top:1em;
		margin-bottom:1em;
	}
	.box {
		padding: 20px;
		font-size: 150%;
	}
}


/* -------------------------------- 

Re-skinning social media icons 

-------------------------------- */

/* Resfresh */
.button {
	background-color: #4CAF50; 
	border: none;
	color: white;
	padding: 0.6em 0em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5em;
	cursor:pointer;
	border-radius: 4px;
	width: 100%;
	margin:0.2em;
}

/* container */
#share {
	width: 100%;
  	margin: 10px auto;
    text-align: center;

}

/* buttons */
#share a {
	width: 50px;
  	height: 50px;
  	display: inline-block;
  	margin: 8px;
  	border-radius: 0;
  	font-size: 24px;
  	color: #fff;
	opacity: 0.9;
	transition: opacity 0.15s linear;
	border-radius: 4px;
}

#share a:hover {
	opacity: 1;
}

/* icons */
#share i {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

/* colors */
.facebook {
 	background: #3b5998;
}
.twitter {
  	background: #55acee;
}
.googleplus {
  	background: #dd4b39;
}
.whatsapp {
  	background: #33CC66;
}

.cpa {
  	background: #0088CC;
}


/* --------------------------------

Re-skinning Menu

-------------------------------- */

.navbar {
	overflow: hidden;
	margin-top:1em;
	margin-bottom:1em;
	top: 0;
	width: 100%;
	opacity: 1;
	background:#3b5fa8;
}

.navbar .navlinks {
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 13px 22px;
	margin:5px;
	text-decoration: none;
	font-size: 15px;
}

.navbar .fa-home {
	float: left;
	display: block;
	background: #fff;
	text-align: center;
	padding: 15px 18px;
	text-decoration: none;
	font-size: 22px;
	color:#4267b2;
}
.navbar .fa-home:hover {
	color: #5c83d1;
	background: #fff;
}

.navbar a:hover {
	color: #fff;
	background: #4267b2;
}

.selected {
	color: #fff;
	background: #4267b2;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 750px) {
	.navbar a:not(:first-child) {display: none;}
	.navbar a.icon {
		float: right;
		display: block;
		background: #fff;
		text-align: center;
		padding: 15px 18px;
		text-decoration: none;
		font-size: 22px;
	}
	#nav-share  {
		display:none;
	}
}

@media screen and (max-width: 750px) {
	.navbar.responsive {position: relative;}
	.navbar.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		background: #fff;
		text-align: center;
		padding: 15px 18px;
		text-decoration: none;
		font-size: 22px;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	#nav-share  {
		display:none;
	}
}

#nav-share  {
	width: 100%;
	padding-right:11px;
	text-align: right;
}
#nav-share a {
	width: 30px;
    height: 30px;
    margin: 11px 4px;
  	display: inline-block;
  	border-radius: 0;
  	font-size: 14px;
    background: #fff;
	opacity: 1;
	transition: opacity 0.15s linear;
	border-radius: 4px;
	text-align: center;
	color:#333;
}
#nav-share a:hover {
	color: #666;
}
#nav-share i {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}


/* -------------------------------- 

Re-skinning Content 

-------------------------------- */

.reskinning {
	position: relative;
	width: 90%;
	max-width: 960px;
	margin: 4em auto;
	border-radius: 4px;
}


.reskinning_content {
	background: #ffffff;
	border-radius: 4px;
}

.reskinning_content li {
	display: none;
	padding: 1.4em;
}

.reskinning_content li.cd-selected {
	display: block;
	-webkit-animation: cd-fade-in 0.5s;
	animation: cd-fade-in 0.5s;
}

.reskinning_content li p {
	font-size: 1.4rem;
	line-height: 1.6;
	color: #333;
	margin: 2em;
}

/* 768 */
@media only screen and (min-width: 768px) {
	.reskinning_content {
		min-height: 480px;
	}
	.reskinning_content li {
		padding: 2em 2em 2em 7em;
	}
}

/* 960 */
@media only screen and (min-width: 960px) {
	.reskinning_content {
		min-height: 0;
	}
	.reskinning_content li {
		padding: 3em;
	}
	.reskinning_content li p {
		font-size: 1.6rem;
	}
}

/* fade */
@-webkit-keyframes cd-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes cd-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* -------------------------------- 

Re-skinning Pages

-------------------------------- */

#quiz-pages {
  color:#0a1e47;  
}

.quiz_pages_title {
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "PT Sans", sans-serif;
  color: #4267b2;
}

.quiz_pages_subtitle {
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "PT Sans", sans-serif;
  color: #009414;
  margin-left: 1em;
}


/* -------------------------------- 

Re-skinning Contact

-------------------------------- */

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/* -------------------------------- 

Re-skinning Content 

-------------------------------- */


.footer{
	background-color: none;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
  font-family: "PT Sans", sans-serif;
	padding: 15px;
	margin-top: 10px;
}

.footer .footer-title{
	color:  #fff;
	font-size: 24px;
	margin: 0;
}

.footer .footer-copyrights{
	color:  #1c3e82;
	font-size: 14px;
	margin: 0;
}

.footer .footer-links{
	list-style: none;
	color:  #0a1e47;
	padding: 35px 0 23px;
	margin: 0;
}

.footer .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;

}
.footer .footer-links a:hover{
	color:  #84abff;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer{
		padding: 35px;
	}

	.footer .footer-title {
		font-size: 18px;
	}

	.footer .footer-copyrights{
		font-size: 12px;
	}

	.footer .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer .footer-links a{
		line-height: 1.8;
	}
}



